{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<style>
    body
    {
        background-image: url('https://cdn.svgator.com/images/2022/06/use-svg-as-background-image-particle-strokes.svg');
        background-size: cover;
        
    }
    .card {
      width: 1000px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 20px;
      background-color:rgba(101, 96, 96, 0.562);
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.502);
      color: rgb(4, 249, 249);
    }
</style>
<b>
   <br><br> <div class="container">
        <div class="card">
<i><form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
   <b> <center><input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="{% trans 'Submit' %}" /></b></center>
</form></i></div></div>

{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
